@import "/node_modules/select2/dist/css/select2.css";

/* ############### FONTS IMPORT ############### */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800');




// Bootstrap variable overrides
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* ############### BOOTSTRAP FRAMEWORK ############### */
@import "../../../node_modules/bootstrap";

// Custom variables and mixins
@import "custom/variables";
@import "custom/mixins";

/* ########## BOOTSTRAP OVERRIDES ########## */
@import "bootstrap/buttons";
@import "bootstrap/cards";
@import "bootstrap/dropdown";
@import "bootstrap/forms";
@import "bootstrap/grid";
@import "bootstrap/input-group";
@import "bootstrap/nav";
@import "bootstrap/progress";
@import "bootstrap/table";


/* ############### CUSTOM ELEMENT STYLES ############### */
@import "custom/buttons";
@import "custom/charts";
@import "custom/forms";
@import "custom/image";
@import "custom/list";
@import "custom/nav";

/* ############### CUSTOM VENDOR STYLES ############### */
@import "lib/datepicker";
@import "lib/datetimepicker";
//@import "lib/select2";

/* ############### PAGE LAYOUT STYLES ############### */
@import "layout/content";
@import "layout/footer";
@import "layout/global";
@import "layout/header";
@import "layout/iconbar";
@import "layout/navbar";
@import "layout/navbar-variant";
@import "layout/sidebar";

/* ############### TEMPLATE STYLES ############### */
@import "template/demo";
@import "template/profile";
@import "template/signin";
@import "template/signup";


/* ############### DASHBOARD STYLES ############### */
@import "template/dashboard-one";
@import "template/dashboard-four";

/* ############### UTILITIES/HELPER CLASSES ############### */
@import "util/background";
@import "util/border";
@import "util/height";
@import "util/margin";
@import "util/misc";
@import "util/padding";
@import "util/position";
@import "util/typography";
@import "util/width";
