@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html{
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow:hidden;
}
#app{
    overflow: hidden;
    display: contents;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    //position: absolute;
    width: 100%;
    min-width: 350px;
    overflow: hidden;
    .boxed{
        height: 100%;
        max-width: 420px;
        margin: auto;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .table_container{
            align-items: center;
            display: flex;
            flex-direction: column;
            flex: auto;
        }
    }

    .header{
        background: #0000004a;
        height: 50px;

        .boxed{
            display: flex;
            flex-direction: row;

            .profile{
                margin: 4px 10px 4px 10px;
                display: flex;
                flex-direction: row;
                .user_pic{
                    width: 42px;
                    height: 42px;
                    border-radius: 4px;
                    background: #061a2f;
                    margin-right: 6px;
                    img{
                        width: 42px;
                        height: 42px;
                        border-radius: 4px;
                    }
                }
                .user_name{
                    font-weight: bold;
                    font-size: 18px;
                    color: #BCBCBC;
                    line-height: 17px;
                    max-width: 140px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .level_graph{
                    height: 4px;
                    width: 100%;
                    background: #cca61f;
                    margin-top: 5px;
                    margin-bottom: 1px;
                }
                .user_lvl{
                    font-weight: bold;
                    font-size: 12px;
                    color: rgba(255, 255, 255, 0.32);
                    line-height: 15px;
                }
            }
            .credit_box {
                text-align: right;
                margin-right: 10px;
                .title {
                    font-size: 16px;
                    line-height: 17px;
                    margin-top: 6px;
                    font-weight: bold;
                    color: #BCBCBC;
                }
                .credits {
                    color: rgba(204, 166, 31, 1);
                    font-weight: 500;
                    margin-top: 4px;
                }
            }
            .spacer{
                flex: auto;
            }
            .credit_box{
                width: 100px;
            }
        }
    }

    .footer{
        background: #CCA61F;
        height: 40px;
    }
}



.btn {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    color: white;
    border-radius: 2px;
    background: #CCA61F;
    border: 1px solid #FCE736;
    position: relative;
    cursor: pointer;
    //&::before{
    //    content: "";
    //    border: 1px solid #CCA61F;
    //    position: absolute;
    //    top: -3px;
    //    left: -3px;
    //    width: calc(100% + 4px);
    //    height: calc(100% + 4px);
    //    border-radius: 2px;
    //}
    //&:hover{
    //    background: #0D2439;
    //    cursor: pointer;
    //}
}
