@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html{
    height: 100%;
    overflow: hidden;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow:scroll;
    background: #131217;
    color: #ffffff;
}
#app{
    overflow: hidden;
}

.preloader{
    position: absolute;
    z-index: 111;
    background: #2d1659;
}

@keyframes overlay-pulse {
    0% {
        box-shadow: 0 0 207px 90px #CDCDE671
    }
    50% {
        box-shadow: 0 0 207px 100px #CDCDE671
    }
    100% {
        box-shadow: 0 0 207px 90px #CDCDE671
    }
}

.tournament{
    background: url(/img/tournament_bg.svg) no-repeat right, linear-gradient(to top, #18171D, #292931);
    background-position: right -54px center;

    border-radius: 22px;
    border: 1px solid rgba(59, 58, 65, 0.6588235294);
    position: relative;
    min-height: 200px;
    margin: 22px;

    .background{
        padding: 25px;
    }

    .title {
        font-weight: bold;
        font-size: 16px;
        z-index: 99;
        margin-bottom: 10px;
    }
    .descr{
        white-space: pre-line;
        margin-bottom: 10px;
    }
    .butt {
        border: 0;
        padding: 11px 31px;
        border-radius: 4px;
        margin: 0 auto;
        display: block;
        font-size: 20px;
        font-weight: bold;
    }
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 350px;
    overflow: hidden;



    .preloader {
        position: absolute;
        background: #131217;
        z-index: 9999;
    }

    .boxed {
        max-width: 600px;
        margin: 0 auto;
    }

    .blur-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;

        animation: overlay-pulse 1s ease-in-out infinite;
    }
    .logo {
        position: absolute;
        top: calc(50% - 416px / 2);
        background-size: cover;
        background: url(/img/logo.svg) no-repeat center;
        background-size: 300px;
        width: 100%;
        height: 416px;
    }
    .footer {
        width: 100%;
        height: 96px;
        background: url(/img/footer_bg.svg) no-repeat center;
    }
    .avatar_guard {
        background: url(/img/ava_round.svg) no-repeat center;
        height: 225px;
        width: 225px;
        margin: 0 auto;
        position: relative;
        .player_avatar {
            display: block;
            position: absolute;
            border-radius: 61%;
            max-width: 160px;
            left: 32px;
            top: 32px;
        }
    }
    .public_name_title{
        text-align: center;
        font-size: 13px;
        color: #ffffff;
        margin-bottom: 5px;
    }
    .player_name{
        text-align: center;
        font-size: 20px;
        margin-bottom: 15px;
    }
    .player_login{
        text-align: center;
        font-size: 20px;
        color: #EDB258;
        margin-bottom: 5px;
    }
    .change_name_button{
        button {
            background: #EDB258;
            border: 0;
            padding: 5px 10px;
            border-radius: 4px;
            margin: 0 auto;
            display: block;
        }
    }
}

