@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #131217;
  color: #ffffff;
}

#app {
  overflow: hidden;
  display: contents;
}

@keyframes overlay-pulse {
  0% {
    box-shadow: 0 0 207px 90px #ECB054;
  }
  50% {
    box-shadow: 0 0 207px 100px #ECB054;
  }
  100% {
    box-shadow: 0 0 207px 90px #ECB054;
  }
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 350px;
  overflow: hidden;
}
.container .preloader {
  position: absolute;
  background: #131217;
  z-index: 9999;
}
.container .boxed {
  max-width: 600px;
  margin: 0 auto;
}
.container .blur-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  animation: overlay-pulse 1s ease-in-out infinite;
}
.container .logo {
  position: absolute;
  top: calc(50% - 208px);
  background-size: cover;
  background: url(/images/logo.svg?ffe1e50ddb0d47a524a305c963a7ebbf) no-repeat center;
  background-size: 300px;
  width: 100%;
  height: 416px;
}
.container .footer {
  width: 100%;
  height: 96px;
  background: url(/images/footer_bg.svg?a3be2e31bbb9826eade48a428ff06c87) no-repeat center;
}
.container .avatar_guard {
  background: url(/images/ava_round.svg?376cdbeaf12eddc860e22b509ca9afc5) no-repeat center;
  height: 225px;
  width: 225px;
  margin: 0 auto;
  position: relative;
}
.container .avatar_guard .player_avatar {
  display: block;
  position: absolute;
  border-radius: 61%;
  max-width: 160px;
  left: 32px;
  top: 32px;
}
.container .player_name {
  text-align: center;
  font-size: 20px;
}
.container .player_login {
  text-align: center;
  font-size: 20px;
  color: #EDB258;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiY3NzL2FwcC5jc3MiLCJtYXBwaW5ncyI6IjtBQUNBO0VBQ0k7RUFDQTtBQUNKOztBQUVBO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtBQUNKOztBQUNBO0VBQ0k7RUFDQTtBQUVKOztBQUVBO0VBQ0k7SUFDSTtFQUNOO0VBQ0U7SUFDSTtFQUNOO0VBQ0U7SUFDSTtFQUNOO0FBQ0Y7QUFHQTtFQUNJO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtBQURKO0FBR0k7RUFDSTtFQUNBO0VBQ0E7QUFEUjtBQUlJO0VBQ0k7RUFDQTtBQUZSO0FBS0k7RUFDSTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBRUE7QUFKUjtBQU1JO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7QUFKUjtBQU1JO0VBQ0k7RUFDQTtFQUNBO0FBSlI7QUFNSTtFQUNJO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7QUFKUjtBQUtRO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0FBSFo7QUFNSTtFQUNJO0VBQ0E7QUFKUjtBQU1JO0VBQ0k7RUFDQTtFQUNBO0FBSlIsQyIsInNvdXJjZXMiOlsid2VicGFjazovLy8uL3Jlc291cmNlcy9zY3NzL2FwcC5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgdXJsKCdodHRwczovL2ZvbnRzLmdvb2dsZWFwaXMuY29tL2NzczI/ZmFtaWx5PUludGVyOml0YWwsb3Bzeix3Z2h0QDAsMTQuLjMyLDEwMC4uOTAwOzEsMTQuLjMyLDEwMC4uOTAwJmRpc3BsYXk9c3dhcCcpO1xuaHRtbHtcbiAgICBoZWlnaHQ6IDEwMCU7XG4gICAgb3ZlcmZsb3c6IGhpZGRlbjtcbn1cblxuYm9keSB7XG4gICAgZm9udC1mYW1pbHk6IFwiSW50ZXJcIiwgc2Fucy1zZXJpZjtcbiAgICBmb250LW9wdGljYWwtc2l6aW5nOiBhdXRvO1xuICAgIGZvbnQtc3R5bGU6IG5vcm1hbDtcbiAgICBmb250LXNpemU6IDE2cHg7XG4gICAgbWFyZ2luOiAwO1xuICAgIHBhZGRpbmc6IDA7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIG92ZXJmbG93OmhpZGRlbjtcbiAgICBiYWNrZ3JvdW5kOiAjMTMxMjE3O1xuICAgIGNvbG9yOiAjZmZmZmZmO1xufVxuI2FwcHtcbiAgICBvdmVyZmxvdzogaGlkZGVuO1xuICAgIGRpc3BsYXk6IGNvbnRlbnRzO1xufVxuXG5cbkBrZXlmcmFtZXMgb3ZlcmxheS1wdWxzZSB7XG4gICAgMCUge1xuICAgICAgICBib3gtc2hhZG93OiAwIDAgMjA3cHggOTBweCAjRUNCMDU0XG4gICAgfVxuICAgIDUwJSB7XG4gICAgICAgIGJveC1zaGFkb3c6IDAgMCAyMDdweCAxMDBweCAjRUNCMDU0XG4gICAgfVxuICAgIDEwMCUge1xuICAgICAgICBib3gtc2hhZG93OiAwIDAgMjA3cHggOTBweCAjRUNCMDU0XG4gICAgfVxufVxuXG5cbi5jb250YWluZXJ7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xuICAgIGhlaWdodDogMTAwJTtcbiAgICB3aWR0aDogMTAwJTtcbiAgICBtaW4td2lkdGg6IDM1MHB4O1xuICAgIG92ZXJmbG93OiBoaWRkZW47XG5cbiAgICAucHJlbG9hZGVyIHtcbiAgICAgICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgICAgICBiYWNrZ3JvdW5kOiAjMTMxMjE3O1xuICAgICAgICB6LWluZGV4OiA5OTk5O1xuICAgIH1cblxuICAgIC5ib3hlZCB7XG4gICAgICAgIG1heC13aWR0aDogNjAwcHg7XG4gICAgICAgIG1hcmdpbjogMCBhdXRvO1xuICAgIH1cblxuICAgIC5ibHVyLW92ZXJsYXkge1xuICAgICAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgICAgIHRvcDogNTAlO1xuICAgICAgICBsZWZ0OiA1MCU7XG4gICAgICAgIHdpZHRoOiAwO1xuICAgICAgICBoZWlnaHQ6IDA7XG5cbiAgICAgICAgYW5pbWF0aW9uOiBvdmVybGF5LXB1bHNlIDFzIGVhc2UtaW4tb3V0IGluZmluaXRlO1xuICAgIH1cbiAgICAubG9nbyB7XG4gICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICAgICAgdG9wOiBjYWxjKDUwJSAtIDQxNnB4IC8gMik7XG4gICAgICAgIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gICAgICAgIGJhY2tncm91bmQ6IHVybCguLy4uL2ltZy9sb2dvLnN2Zykgbm8tcmVwZWF0IGNlbnRlcjtcbiAgICAgICAgYmFja2dyb3VuZC1zaXplOiAzMDBweDtcbiAgICAgICAgd2lkdGg6IDEwMCU7XG4gICAgICAgIGhlaWdodDogNDE2cHg7XG4gICAgfVxuICAgIC5mb290ZXIge1xuICAgICAgICB3aWR0aDogMTAwJTtcbiAgICAgICAgaGVpZ2h0OiA5NnB4O1xuICAgICAgICBiYWNrZ3JvdW5kOiB1cmwoLi8uLi9pbWcvZm9vdGVyX2JnLnN2Zykgbm8tcmVwZWF0IGNlbnRlcjtcbiAgICB9XG4gICAgLmF2YXRhcl9ndWFyZCB7XG4gICAgICAgIGJhY2tncm91bmQ6IHVybCguLy4uL2ltZy9hdmFfcm91bmQuc3ZnKSBuby1yZXBlYXQgY2VudGVyO1xuICAgICAgICBoZWlnaHQ6IDIyNXB4O1xuICAgICAgICB3aWR0aDogMjI1cHg7XG4gICAgICAgIG1hcmdpbjogMCBhdXRvO1xuICAgICAgICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gICAgICAgIC5wbGF5ZXJfYXZhdGFyIHtcbiAgICAgICAgICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgICAgICAgICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgICAgICAgICAgYm9yZGVyLXJhZGl1czogNjElO1xuICAgICAgICAgICAgbWF4LXdpZHRoOiAxNjBweDtcbiAgICAgICAgICAgIGxlZnQ6IDMycHg7XG4gICAgICAgICAgICB0b3A6IDMycHg7XG4gICAgICAgIH1cbiAgICB9XG4gICAgLnBsYXllcl9uYW1le1xuICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgICAgIGZvbnQtc2l6ZTogMjBweDtcbiAgICB9XG4gICAgLnBsYXllcl9sb2dpbntcbiAgICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgICAgICBmb250LXNpemU6IDIwcHg7XG4gICAgICAgIGNvbG9yOiAjRURCMjU4O1xuICAgIH1cblxufVxuXG4iXSwibmFtZXMiOltdLCJzb3VyY2VSb290IjoiIn0=*/