@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);
html {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #131217;
  color: #ffffff;
}

#app {
  overflow: hidden;
  display: contents;
}

@keyframes overlay-pulse {
  0% {
    box-shadow: 0 0 207px 90px #ECB054;
  }
  50% {
    box-shadow: 0 0 207px 100px #ECB054;
  }
  100% {
    box-shadow: 0 0 207px 90px #ECB054;
  }
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 350px;
  overflow: hidden;
}
.container .preloader {
  position: absolute;
  background: #131217;
  z-index: 9999;
}
.container .boxed {
  max-width: 600px;
  margin: 0 auto;
}
.container .blur-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  animation: overlay-pulse 1s ease-in-out infinite;
}
.container .logo {
  position: absolute;
  top: calc(50% - 208px);
  background-size: cover;
  background: url(/images/logo.svg?ffe1e50ddb0d47a524a305c963a7ebbf) no-repeat center;
  background-size: 300px;
  width: 100%;
  height: 416px;
}
.container .footer {
  width: 100%;
  height: 96px;
  background: url(/images/footer_bg.svg?a3be2e31bbb9826eade48a428ff06c87) no-repeat center;
}
.container .avatar_guard {
  background: url(/images/ava_round.svg?376cdbeaf12eddc860e22b509ca9afc5) no-repeat center;
  height: 225px;
  width: 225px;
  margin: 0 auto;
  position: relative;
}
.container .avatar_guard .player_avatar {
  display: block;
  position: absolute;
  border-radius: 61%;
  max-width: 160px;
  left: 32px;
  top: 32px;
}
.container .public_name_title {
  text-align: center;
  font-size: 13px;
  color: #ffffff;
}
.container .player_name {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}
.container .player_login {
  text-align: center;
  font-size: 20px;
  color: #EDB258;
}
.container .change_name_button button {
  background: #EDB258;
  border: 0;
  padding: 5px 10px;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoiY3NzL2FwcC5jc3MiLCJtYXBwaW5ncyI6IjtBQUNBO0VBQ0k7RUFDQTtBQUNKOztBQUVBO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtBQUNKOztBQUNBO0VBQ0k7RUFDQTtBQUVKOztBQUVBO0VBQ0k7SUFDSTtFQUNOO0VBQ0U7SUFDSTtFQUNOO0VBQ0U7SUFDSTtFQUNOO0FBQ0Y7QUFHQTtFQUNJO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtBQURKO0FBR0k7RUFDSTtFQUNBO0VBQ0E7QUFEUjtBQUlJO0VBQ0k7RUFDQTtBQUZSO0FBS0k7RUFDSTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBRUE7QUFKUjtBQU1JO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7QUFKUjtBQU1JO0VBQ0k7RUFDQTtFQUNBO0FBSlI7QUFNSTtFQUNJO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7QUFKUjtBQUtRO0VBQ0k7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0FBSFo7QUFNSTtFQUNJO0VBQ0E7RUFDQTtBQUpSO0FBTUk7RUFDSTtFQUNBO0VBQ0E7QUFKUjtBQU1JO0VBQ0k7RUFDQTtFQUNBO0FBSlI7QUFPUTtFQUNJO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtBQUxaLEMiLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly8vLi9yZXNvdXJjZXMvc2Nzcy9hcHAuc2NzcyJdLCJzb3VyY2VzQ29udGVudCI6WyJAaW1wb3J0IHVybCgnaHR0cHM6Ly9mb250cy5nb29nbGVhcGlzLmNvbS9jc3MyP2ZhbWlseT1JbnRlcjppdGFsLG9wc3osd2dodEAwLDE0Li4zMiwxMDAuLjkwMDsxLDE0Li4zMiwxMDAuLjkwMCZkaXNwbGF5PXN3YXAnKTtcbmh0bWx7XG4gICAgaGVpZ2h0OiAxMDAlO1xuICAgIG92ZXJmbG93OiBoaWRkZW47XG59XG5cbmJvZHkge1xuICAgIGZvbnQtZmFtaWx5OiBcIkludGVyXCIsIHNhbnMtc2VyaWY7XG4gICAgZm9udC1vcHRpY2FsLXNpemluZzogYXV0bztcbiAgICBmb250LXN0eWxlOiBub3JtYWw7XG4gICAgZm9udC1zaXplOiAxNnB4O1xuICAgIG1hcmdpbjogMDtcbiAgICBwYWRkaW5nOiAwO1xuICAgIHdpZHRoOiAxMDAlO1xuICAgIGhlaWdodDogMTAwJTtcbiAgICBvdmVyZmxvdzpoaWRkZW47XG4gICAgYmFja2dyb3VuZDogIzEzMTIxNztcbiAgICBjb2xvcjogI2ZmZmZmZjtcbn1cbiNhcHB7XG4gICAgb3ZlcmZsb3c6IGhpZGRlbjtcbiAgICBkaXNwbGF5OiBjb250ZW50cztcbn1cblxuXG5Aa2V5ZnJhbWVzIG92ZXJsYXktcHVsc2Uge1xuICAgIDAlIHtcbiAgICAgICAgYm94LXNoYWRvdzogMCAwIDIwN3B4IDkwcHggI0VDQjA1NFxuICAgIH1cbiAgICA1MCUge1xuICAgICAgICBib3gtc2hhZG93OiAwIDAgMjA3cHggMTAwcHggI0VDQjA1NFxuICAgIH1cbiAgICAxMDAlIHtcbiAgICAgICAgYm94LXNoYWRvdzogMCAwIDIwN3B4IDkwcHggI0VDQjA1NFxuICAgIH1cbn1cblxuXG4uY29udGFpbmVye1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgICBoZWlnaHQ6IDEwMCU7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgbWluLXdpZHRoOiAzNTBweDtcbiAgICBvdmVyZmxvdzogaGlkZGVuO1xuXG4gICAgLnByZWxvYWRlciB7XG4gICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICAgICAgYmFja2dyb3VuZDogIzEzMTIxNztcbiAgICAgICAgei1pbmRleDogOTk5OTtcbiAgICB9XG5cbiAgICAuYm94ZWQge1xuICAgICAgICBtYXgtd2lkdGg6IDYwMHB4O1xuICAgICAgICBtYXJnaW46IDAgYXV0bztcbiAgICB9XG5cbiAgICAuYmx1ci1vdmVybGF5IHtcbiAgICAgICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgICAgICB0b3A6IDUwJTtcbiAgICAgICAgbGVmdDogNTAlO1xuICAgICAgICB3aWR0aDogMDtcbiAgICAgICAgaGVpZ2h0OiAwO1xuXG4gICAgICAgIGFuaW1hdGlvbjogb3ZlcmxheS1wdWxzZSAxcyBlYXNlLWluLW91dCBpbmZpbml0ZTtcbiAgICB9XG4gICAgLmxvZ28ge1xuICAgICAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgICAgIHRvcDogY2FsYyg1MCUgLSA0MTZweCAvIDIpO1xuICAgICAgICBiYWNrZ3JvdW5kLXNpemU6IGNvdmVyO1xuICAgICAgICBiYWNrZ3JvdW5kOiB1cmwoLi8uLi9pbWcvbG9nby5zdmcpIG5vLXJlcGVhdCBjZW50ZXI7XG4gICAgICAgIGJhY2tncm91bmQtc2l6ZTogMzAwcHg7XG4gICAgICAgIHdpZHRoOiAxMDAlO1xuICAgICAgICBoZWlnaHQ6IDQxNnB4O1xuICAgIH1cbiAgICAuZm9vdGVyIHtcbiAgICAgICAgd2lkdGg6IDEwMCU7XG4gICAgICAgIGhlaWdodDogOTZweDtcbiAgICAgICAgYmFja2dyb3VuZDogdXJsKC4vLi4vaW1nL2Zvb3Rlcl9iZy5zdmcpIG5vLXJlcGVhdCBjZW50ZXI7XG4gICAgfVxuICAgIC5hdmF0YXJfZ3VhcmQge1xuICAgICAgICBiYWNrZ3JvdW5kOiB1cmwoLi8uLi9pbWcvYXZhX3JvdW5kLnN2Zykgbm8tcmVwZWF0IGNlbnRlcjtcbiAgICAgICAgaGVpZ2h0OiAyMjVweDtcbiAgICAgICAgd2lkdGg6IDIyNXB4O1xuICAgICAgICBtYXJnaW46IDAgYXV0bztcbiAgICAgICAgcG9zaXRpb246IHJlbGF0aXZlO1xuICAgICAgICAucGxheWVyX2F2YXRhciB7XG4gICAgICAgICAgICBkaXNwbGF5OiBibG9jaztcbiAgICAgICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICAgICAgICAgIGJvcmRlci1yYWRpdXM6IDYxJTtcbiAgICAgICAgICAgIG1heC13aWR0aDogMTYwcHg7XG4gICAgICAgICAgICBsZWZ0OiAzMnB4O1xuICAgICAgICAgICAgdG9wOiAzMnB4O1xuICAgICAgICB9XG4gICAgfVxuICAgIC5wdWJsaWNfbmFtZV90aXRsZXtcbiAgICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgICAgICBmb250LXNpemU6IDEzcHg7XG4gICAgICAgIGNvbG9yOiAjZmZmZmZmO1xuICAgIH1cbiAgICAucGxheWVyX25hbWV7XG4gICAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICAgICAgZm9udC1zaXplOiAyMHB4O1xuICAgICAgICBtYXJnaW4tYm90dG9tOiAxNXB4O1xuICAgIH1cbiAgICAucGxheWVyX2xvZ2lue1xuICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgICAgIGZvbnQtc2l6ZTogMjBweDtcbiAgICAgICAgY29sb3I6ICNFREIyNTg7XG4gICAgfVxuICAgIC5jaGFuZ2VfbmFtZV9idXR0b257XG4gICAgICAgIGJ1dHRvbiB7XG4gICAgICAgICAgICBiYWNrZ3JvdW5kOiAjRURCMjU4O1xuICAgICAgICAgICAgYm9yZGVyOiAwO1xuICAgICAgICAgICAgcGFkZGluZzogNXB4IDEwcHg7XG4gICAgICAgICAgICBib3JkZXItcmFkaXVzOiA0cHg7XG4gICAgICAgICAgICBtYXJnaW46IDAgYXV0bztcbiAgICAgICAgICAgIGRpc3BsYXk6IGJsb2NrO1xuICAgICAgICB9XG4gICAgfVxufVxuXG4iXSwibmFtZXMiOltdLCJzb3VyY2VSb290IjoiIn0=*/