/* ###### 6.3 Global  ###### */

body {
  font-family: $font-family-roboto;
}
.t-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
}
.btn-slim {
    padding: 3px 20px;
    min-height: 24px;
}
.t-card-active{
    background-color: #79b2232e;
}
.t-card-inactive{
    background-color: #f0010129;
}
.tour-timer{
    font-size: 20px;
    font-weight: bold;
    color: #6ba84f;
    text-align: center;
    width: 100%;
    display: block;
}

@media (min-width: 768px) {
    .tour-add-box {
        width: 100%;
        margin-left: 0;
        margin-top: -1px;
        .input-group-text{
            width: 100%;
            height: 38px;
            .ckbox{
                width: 100%;
                text-align: left;
            }
        }
    }
}

.az-body,
.az-dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.az-body::before {
  content: 'az';
  position: fixed;
  top: 45%;
  left: 70%;
  transform: translate3d(-50%, -58%, 0);
  font-size: 1300px;
  font-weight: 600;
  letter-spacing: -10px;
  line-height: .5;
  opacity: .02;
  z-index: -1;
  display: none;

  //@include media-breakpoint-up(lg) { display: block; }
}

.az-table-reference {
  margin-top: 40px;
  background-color: #fff;

  > thead > tr,
  > tbody > tr {
    > th,
    > td {
      padding: 8px 10px;
      border: 1px solid $gray-300;
      font-size: 13px;
    }
  }

  > thead > tr {
    > th,
    > td {
      background-color: $gray-100;
      color: $gray-600;
      font-size: 11px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-bottom: 0;
    }
  }
}
