html {
  height: 100%;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

#main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#telegram_auth_failed{
  margin: auto;
  width: min-content;
  white-space: nowrap;
  font-size: 16px;
  margin-top: 100px;
  display: none;
}