.env
.env.dusk
.env.testing
.env.dusk.local
.env.backup

.phpstorm.meta.php
.phpunit.result.cache
.dusk.result.cache
_ide_*.php
/vendor/
/vendor-bin/**/vendor/
/node_modules/
/public/fonts/
/public/admin/css/
/public/admin/js/
/public/images/
/public/vendor/apidoc
/public/hot
/public/sitemap.xml
/tests/coverage/
/public/mix.js

/public/mix-manifest.json
/public/mix.js.map
/storage/*.key
/storage/test
/storage/git-branch
/storage/git-commit

yarn-error.log

unit_results.xml
feature_results.xml
integration_api_client_results.xml
integration_api_integrations_results.xml
phpstan.json
spectral-report.xml
.deptrac.cache
/auth.json
/.tmp/
**/caddy
frankenphp
frankenphp-worker.php
